:root {
  --primary: blue;
  --shadow: -5px 5px 10px 5px grey;
}
body {
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
}

.btn {
  background: orange;
  /* border: 1px solid orange; */
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  float: right;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
/* global */
.global {
  background: rgba(255, 166, 0);
  padding: 10px 0;
  /* 10px top and bottom padding */
}

/* parent global class */
/* first child div */
.global > div {
  display: flex;
  justify-content: space-between;
}

/*  Header menu */
header {
  background: var(--primary);
  color: white;
  padding: 10px 0;
}
header div {
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  background: white;
  color: blue;
  font-weight: bolder;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo div {
  border: 3px dotted var(--primary);
  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-left: 16px;
}

header ul li:hover {
  background: red;
  cursor: pointer;
  transform: scale(2);
}

/* hero */
.hero {
  height: 60vh;
  /* background-size: cover;
  background-color: red;
  background-image: url(./hero.jpg); */
  background: red url(./hero.jpg) no-repeat center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background: rgb(0, 0, 0, 0.709);
  color: white;
  width: 400px;

  padding: 32px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.hero-content hr {
  width: 100%;
}

/* latest posts */

.main {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.articles {
  width: 66%;
}

article {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 20px 16px;
  margin-top: 24px;
}

.art-img {
  width: 350px;
}

article.title {
  color: var(--primary);
  font-weight: bolder;
  font: size 24px;
}

.side-links {
  width: 34%;
}
.country {
  background: rgba(68, 255, 0, 0.462);
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 10px;
}

.date {
  background: rgba(255, 255, 0, 0.484);
  padding: 16px;
  border-radius: 10px;
}

/* footer */
.footer {
  background: black;
  color: white;
  padding: 64px;
  text-align: center;
  margin-top: 32px;
}

/* recc */
.recc {
  background: rgba(255, 251, 0, 0.587);

  margin-top: 32px;
  padding: 32px 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  width: 350px;
  box-shadow: var(--shadow);
  padding-bottom: 32px;
  background: white;
  border-radius: 10px;
}
.card img {
  border-radius: 10px 10px 0 0;
}
.card-btn {
  background: orangered;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
btn:hover,
.card-btn:hover {
  cursor: pointer;
}

/* sub */
.subs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subs input {
  line-height: 42px;
  border: radius 8px;
  border: 1px solid grey;
  padding: 5px 10px;
}
/* media query */
/* 600px-900px for ipads */
@media (max-width: 992px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .articles {
    width: 100%;
  }
  .side-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 50px;
  }
  .country,
  .date {
    /* width: 100%; */
    flex-grow: 1;
  }
  .country {
    margin-bottom: 0;
  }
}

/* 600px mobile screen */
@media (max-width: 600px) {
  /* hide global message */
  article {
    display: flex;
    flex-direction: column;
  }
  .art-img {
    width: 100%;
  }
  .side-links {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
  input {
    margin: 10px 0;
  }
  .subs {
    align-items: normal;
  }
}
/* 0-600px is for the mobile or for small devices */
/* 
@media (max-width: 600px) {
  .global {
    background: rgb(255, 0, 174);
    display: none;
  }
} */

/* large monitor or tv view 992px */
/* @media (width > 992px) {
  header {
    background: rgb(215, 14, 14);
  }
} */
/* 
@media () @media (600px <width< 992px) {
  header {
    background: yellow;
  }
} */
/* 
@media () @media (600px > width >992px) {
  header {
    background: yellow;
  }
} */
